@{
    ViewData["Title"] = "CarShop - Strona Główna";
}

@if (Context.Session.GetString("user") == null)
{
    <div class="text-center mt-5">
        <h2>Witaj w CarShop</h2>
        <p>Aby uzyskać pełen dostęp do funkcji naszej strony, zaloguj się do swojego konta.</p>
        <a asp-controller="Users" asp-action="Login" class="btn btn-primary">Zaloguj się</a>
    </div>
}
else
{
    <div class="row mt-5 text-center">
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Przeglądaj Samochody</h5>
                    <p class="card-text">Odkryj naszą szeroką ofertę samochodów – od ekonomicznych po luksusowe. Dzięki intuicyjnemu filtrowaniu szybko znajdziesz model idealny dla siebie!</p>
                    <a asp-controller="Cars" asp-action="Index" class="btn btn-primary">Przeglądaj</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Składaj Zamówienia</h5>
                    <p class="card-text">Znalazłeś wymarzony samochód? Dzięki naszej szybkiej i bezpiecznej platformie, zamówienie zajmie Ci tylko chwilę. Gwarantujemy pełną przejrzystość transakcji.</p>
                    <a asp-controller="Orders" asp-action="Create" class="btn btn-primary">Zamów Teraz</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Zarządzaj Zamówieniami</h5>
                    <p class="card-text">Śledź status swoich zamówień na bieżąco. Masz dostęp do historii zakupów, opcji płatności oraz wsparcia w przypadku pytań czy wątpliwości.</p>
                    <a asp-controller="Orders" asp-action="Index" class="btn btn-primary">Zarządzaj</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Panel Użytkownika</h5>
                    <p class="card-text">Wejdź do swojego panelu użytkownika, aby zaktualizować dane konta, sprawdzić aktualny status zamówień oraz dostosować preferencje. Pełna kontrola nad Twoimi działaniami.</p>
                    <a asp-controller="Users" asp-action="Index" class="btn btn-primary">Twój Panel</a>
                </div>
            </div>
        </div>
    </div>
}