@{
    ViewData["Title"] = "Panel Użytkownika";
}

<div class="container">
    <h2>Witaj, @Context.Session.GetString("user")</h2>
    <h2>Twoja rola: @Context.Session.GetString("role")</h2>
    
    <a class="text-black" asp-action="Logout">Wyloguj sie</a>
</div>
